<nz-layout>
  <nz-header>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzTitle="Home">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li nz-menu-item nzTitle="Server List">
        <a
          routerLink="/servers/list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Server List</a
        >
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet />
  </nz-content>
</nz-layout>
