/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.css";
@import 'remixicon/fonts/remixicon.css';

:root {
  --page-background-color: #f0f2f5; /* 页面背景色变量 */
}

body, html {
  background-color: var(--page-background-color);
}

nz-content {
  padding: 16px;
}

nz-table {
  background-color: var(--page-background-color);
}
