<div class="operators">
  <nz-space>
    <!--TODO:修复显示选择条数时高度不一致导致表格下移问题-->
    @if(setOfCheckedId.size>0) {
    <nz-alert
      *nzSpaceItem
      nzType="info"
      nzShowIcon
      nzMessage="当前已选择 {{ setOfCheckedId.size }} 条"
    ></nz-alert>
    }
    <button *nzSpaceItem nz-button nzType="default">
      <i class="ri-add-box-line"></i>
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      [disabled]="setOfCheckedId.size == 0"
      (click)="showServerModifier()"
    >
      <i class="ri-edit-line"></i>
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzDanger
      [disabled]="setOfCheckedId.size == 0"
    >
      <i class="ri-delete-bin-line"></i>
    </button>
  </nz-space>
</div>
<nz-table
  #editRowTable
  nzBordered
  [nzData]="listOfData"
  [nzTotal]="total"
  nzTableLayout="fixed"
  nzShowSizeChanger="true"
  [nzPageSizeOptions]="pageSizeOptions"
  nzShowQuickJumper="true"
  [nzFrontPagination]="false"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzLoading]="loading"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        nzLabel="Select all"
        (nzCheckedChange)="onAllChecked($event)"
        nzWidth="4%"
      ></th>
      <th i18n="server list|hostname@@server.list.hostname" nzWidth="10%">
        Hostname
      </th>
      <th i18n="server list|model@@server.list.model" nzWidth="10%">Model</th>
      <th i18n="server list|ip address@@server.list.ip_address">Ip Address</th>
      <th
        i18n="server list|last reboot time@@server.list.last_reboot_time"
        nzWidth="10%"
      >
        Last Reboot Time
      </th>
      <th
        i18n="server list|next reboot time@@server.list.next_reboot_time"
        nzWidth="10%"
      >
        Next Reboot Time
      </th>
      <th i18n="server list|actions@@server.list.actions" nzWidth="10%">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of editRowTable.data; track data.id) {
    <tr>
      @if (!editCache[data.id].edit) {
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzDisabled]="data.disabled"
        [nzLabel]="data.name"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td>{{ data.name }}</td>
      <td>{{ data.model.name }}</td>
      <td>
        <ul>
          @for (ip of editCache[data.id].data.ipAddresses; track ip) {
          <li>{{ ip }}</li>
          }
        </ul>
      </td>
      <td>{{ data.lastRebootTime }}</td>
      <td>{{ data.nextRebootTime }}</td>
      <td>
        <nz-space>
          <a
            *nzSpaceItem
            i18n="server list|actions: edit@@server.list.actions.edit"
            (click)="startEdit(data.id)"
            >Edit</a
          >
          <a
            *nzSpaceItem
            i18n="server list|actions: detail@@server.list.actions.detail"
            (click)="showServerDetail()"
            >Detail</a
          >
        </nz-space>
      </td>
      } @else {
      <td></td>
      <td>
        <input
          type="text"
          nz-input
          [(ngModel)]="editCache[data.id].data.name"
        />
      </td>
      <td>
        <app-model-selector [(selectedModel)]="editCache[data.id].data.model" />
      </td>
      <td>
        <app-ip-selector
          [(selectedIps)]="editCache[data.id].data.ipAddresses"
        />
      </td>
      <td>{{ data.lastRebootTime }}</td>
      <td>
        <nz-date-picker
          [(ngModel)]="editCache[data.id].data.nextRebootTime"
          (ngModelChange)="onNextRebootTimeChange($event, data.id)"
        ></nz-date-picker>
      </td>
      <td>
        <a
          i18n="server list|actions: edit title@@server.list.actions.edit.save"
          i18n-nzPopconfirmTitle="
            server list|actions: edit@@server.list.actions.edit.save.title"
          nz-popconfirm
          nzPopconfirmTitle="Sure to save?"
          (nzOnConfirm)="saveEdit(data.id)"
          class="save"
          >Save</a
        >
        <a
          i18n="server list|actions: edit@@server.list.actions.edit.cancel"
          (click)="cancelEdit(data.id)"
          >Cancel</a
        >
      </td>
      }
    </tr>
    }
  </tbody>
</nz-table>
<app-server-modifier [(visible)]="showModifier" />
<app-detail [(visible)]="showDetail" />
